@page
@model WebApp.Pages.Health.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        background: #011628;
        font-family: 'Poppins';
    }
</style>

<h1 class="text-white">Детайли</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.Information.Workout)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.Information.Workout)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.Information.Calories)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.Information.Calories)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.Information.Protein)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.Information.Protein)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.Information.Fat)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.Information.Fat)
        </dd>
        <dt class="col-sm-2 text-white">
            @Html.DisplayNameFor(model => model.Information.Carbs)
        </dt>
        <dd class="col-sm-10 text-white">
            @Html.DisplayFor(model => model.Information.Carbs)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@Model.Information?.Id">Edit</a> |
    <a asp-page="Index" class="btn btn-outline-secondary">Go back</a>
</div>
