@page
@model WebApp.Pages.Health.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background: #011628;
        font-family: 'Poppins';
    }
</style>

<p>
    <a asp-page="Create" class="Create">Add information</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Information[0].Workout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information[0].Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information[0].Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information[0].Fat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information[0].Carbs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Information) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Workout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbs)
            </td>
            <td>
                <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" class="btn btn-success" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
