@page
@model WebApp.Pages.Health.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="Create">Въведи информация</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Information[0].Workout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information[0].Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information[0].Protein)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information[0].Fat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information[0].Carbs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Information) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Workout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Protein)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carbs)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
