@page
@model WebApp.Pages.Account.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.BirthDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person?.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Person.Id">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>
